*, *::after, *::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    /* 1rem = 10px */
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    font-weight: 400;
}
/* khai bao bien trong css */
:root{
    --bgNav: #282828;
    --textColor: #FD7437;
    --textHoverColor: #e6ffff;
}
a {
    text-decoration: none;
}
ul li{
    list-style: none;
}
.nav{
    width: 100%;
    background-color: var(--bgNav);
    height: 4rem;
    border-top: 3px solid var(--textColor);
    display: flex;
    flex-direction: row; /* mac dinh */
}
.nav__container{
    width: 98rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.nav__list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.nav__item{
    padding: 0px 2rem;
    line-height: 4rem;
    position: relative;
}
.nav__link{
    color: var(--textColor);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bolder;
}
.nav__link:hover{
    color: var(--textHoverColor);
}
/* menu table dropdown */
.nav__table{
    display: none;
    min-width: 50rem;
    background-color: var(--bgNav);
    position: absolute;
    left: 0;
    top: 2.6rem;
}
.nav__item:hover > .nav__table{
    display: table;
}
.nav__table > .nav__table--list{
    display: table-row;
}
.nav__table > .nav__table--list > .nav__item {
    display: table-cell;
}