/*
input {
    border: 2px solid red;
}
input[type="text"]{
    border: 2px solid blue;
}
input[type="password"]{
    border: 2px solid yellow;
}
a[href^="http"]{
    color:  red;
}
a[href$=".vn"]{
    color: violet;
}
header > nav > a {
    color: pink;
}
header > section > h2 ~ p {
    color: red;
}
main > section + article div > h2 {
    color: blue;
}
h1, p, h2 {
    color: orange;
}
input[type="email"]:focus{
    width: 800px;
    height: 100px;
    border: 1px solid red;
}
*/
/*
section.content :first-child{
    color: red;
}
section.content :last-child{
    color: blue;
}
section.content :first-of-type{
    color: yellow;
}
section.content :last-of-type{
    color: rgb(20%, 70%, 45%);
}

section.content :nth-child(3){
    color: rgb(20.67, 50.98, 60.03);
}
section.content :nth-last-of-type(3){
    color: #35741e;
}
section.content:hover {
    width: 500px;
    height: 500px;
    border: 2px solid red;
}
section.content :last-child::selection{
    color: yellow;
}
div.box{
    width: 50%;
    height: 100%;
    color: #950abc;
    font-family: 'tahoma';
}
*/